<a href="https://colab.research.google.com/github/GunduSriBhanu/data690_fall2022/blob/main/assignment_08/assignment_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 08

## Use Pandas to read the file census_costs.txt file

In [1]:
#import libraries

import pandas as pd
import plotly.express as px
import re

In [2]:
#open file and stored as list

with open("/content/census_costs.txt", "r") as f:
    lines = f.readlines()

lines

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n',
 '1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11\n']

In [3]:
#displaying columns

census_columns = lines[1]
census_columns

'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n'

In [4]:
#displaying data in list

census = lines[2:]
census

['1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11\n']

In [5]:
#cleansing of columns in a list

census_columns = re.split(r'\t+', census_columns)
census_columns

['Census Year', 'Total Population', 'Census Cost', 'Average Cost Per Person\n']

In [6]:
#converting list to dataframe

df = pd.DataFrame(census).rename(columns = {0:'data'})
df.head()

                                       data
0    1790\t3,929,214\t$44,377\t1.13 cents\n
1    1800\t5,308,483\t$66,109\t1.24 cents\n
2   1810\t7,239,881\t$178,445\t2.46 cents\n
3   1820\t9,633,822\t$208,526\t2.16 cents\n
4  1830\t12,866,020\t$378,545\t2.94 cents\n

In [7]:
# Assigning columns from cleansing into data frame

df[['Census Year', 'Total Population', 'Census Cost', 'Average Cost Per Person\n']] = df.data.str.split("\t", expand=True)
df.head()

,data,Census Year,Total Population,Census Cost,Average Cost Per Person\n
0,"1790\t3,929,214\t$44,377\t1.13 cents\n",1790,"3,929,214","$44,377",1.13 cents\n
1,"1800\t5,308,483\t$66,109\t1.24 cents\n",1800,"5,308,483","$66,109",1.24 cents\n
2,"1810\t7,239,881\t$178,445\t2.46 cents\n",1810,"7,239,881","$178,445",2.46 cents\n
3,"1820\t9,633,822\t$208,526\t2.16 cents\n",1820,"9,633,822","$208,526",2.16 cents\n
4,"1830\t12,866,020\t$378,545\t2.94 cents\n",1830,"12,866,020","$378,545",2.94 cents\n

In [8]:
#dropping columns and chaniging name of column

df = df.drop('data',axis=1)
df = df.rename(columns = {'Average Cost Per Person\n' : 'Average Cost Per Person'})

## Find out how many rows and columns it has

In [9]:
df.shape

(23, 4)

## Display first 10, last 10, and random 10 rows

### first 10 rows

In [10]:
df.head(10)

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377            1.13 cents\n
1        1800        5,308,483     $66,109            1.24 cents\n
2        1810        7,239,881    $178,445            2.46 cents\n
3        1820        9,633,822    $208,526            2.16 cents\n
4        1830       12,866,020    $378,545            2.94 cents\n
5        1840       17,069,458    $833,371            4.88 cents\n
6        1850       23,191,876  $1,423,351            6.14 cents\n
7        1860       31,443,321  $1,969,377            6.26 cents\n
8        1870       38,558,371  $3,421,198            8.87 cents\n
9        1880       50,155,783  $5,790,678           11.54 cents\n

### Last 10 rows

In [11]:
df.tail(10)

   Census Year Total Population     Census Cost Average Cost Per Person
13        1920      105,710,620     $25,117,000           23.76 cents\n
14        1930      122,775,046     $40,156,000           32.71 cents\n
15        1940      131,669,275     $67,527,000           51.29 cents\n
16        1950      151,325,798     $91,462,000           60.44 cents\n
17        1960      179,323,175    $127,934,000           71.34 cents\n
18        1970      203,302,031    $247,653,000                 $1.22\n
19        1980      226,542,199  $1,078,488,000                 $4.76\n
20        1990      248,718,301  $2,492,830,000                $10.02\n
21        2000      281,421,906    $4.5 Billion                $15.99\n
22       2010*      308,745,538     $13 Billion                $42.11\n

### Random 10 rows

In [12]:
df.sample(10)

   Census Year Total Population  Census Cost Average Cost Per Person
22       2010*      308,745,538  $13 Billion                $42.11\n
2         1810        7,239,881     $178,445            2.46 cents\n
8         1870       38,558,371   $3,421,198            8.87 cents\n
16        1950      151,325,798  $91,462,000           60.44 cents\n
10        1890       62,979,766  $11,547,127           18.33 cents\n
9         1880       50,155,783   $5,790,678           11.54 cents\n
4         1830       12,866,020     $378,545            2.94 cents\n
12        1910       91,972,266  $15,968,000           17.07 cents\n
14        1930      122,775,046  $40,156,000           32.71 cents\n
1         1800        5,308,483      $66,109            1.24 cents\n

## Find out the data types of all columns - use info() function

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 864.0+ bytes

## Find out the summary statistics of all columns

In [14]:
df.describe()

       Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1790        3,929,214     $44,377            1.13 cents\n
freq             1                1           1                       1

## Data Cleansing

## Cleanse the data to make the year, population, cost, cost per person numerical type

Code functions to cleanse the columns. One function for one column
use apply() method of data frame to apply the functions to the columns for data cleansing

In [15]:
#reeplacing special characters and unwanted strings from columns after analysis

df["Census Year"] = df["Census Year"].apply(lambda x:x.replace('*',''))

df["Census Cost"] = df["Census Cost"].apply(lambda x:x.replace('$',''))

#df["Average Cost Per Person"] = df["Average Cost Per Person"].apply(lambda x:x.replace(r'$', '').replace(r'cents', ''))

 Converting the "Average Cost Per Person" column to dollars with float data type  and cleaning the column

In [16]:
df["Average Cost Per Person"] = df["Average Cost Per Person"].apply(lambda x:x.replace(r'cents', ''))

df["Average Cost Per Person"] = df["Average Cost Per Person"].apply(lambda x:x.replace(r'$', ''))

# Changing datatype for column "Average Cost Per Person"
df["Average Cost Per Person"] = df["Average Cost Per Person"].astype('float')

# Converting only values which are in cents
df["Average Cost Per Person"][:-5] = df["Average Cost Per Person"][:-5]*0.01

df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

   Census Year Total Population    Census Cost  Average Cost Per Person
0         1790        3,929,214         44,377                   0.0113
1         1800        5,308,483         66,109                   0.0124
2         1810        7,239,881        178,445                   0.0246
3         1820        9,633,822        208,526                   0.0216
4         1830       12,866,020        378,545                   0.0294
5         1840       17,069,458        833,371                   0.0488
6         1850       23,191,876      1,423,351                   0.0614
7         1860       31,443,321      1,969,377                   0.0626
8         1870       38,558,371      3,421,198                   0.0887
9         1880       50,155,783      5,790,678                   0.1154
10        1890       62,979,766     11,547,127                   0.1833
11        1900       76,303,387     11,854,000                   0.1554
12        1910       91,972,266     15,968,000                   0.1707
13        1920      105,710,620     25,117,000                   0.2376
14        1930      122,775,046     40,156,000                   0.3271
15        1940      131,669,275     67,527,000                   0.5129
16        1950      151,325,798     91,462,000                   0.6044
17        1960      179,323,175    127,934,000                   0.7134
18        1970      203,302,031    247,653,000                   1.2200
19        1980      226,542,199  1,078,488,000                   4.7600
20        1990      248,718,301  2,492,830,000                  10.0200
21        2000      281,421,906    4.5 Billion                  15.9900
22        2010      308,745,538     13 Billion                  42.1100

In [17]:
#df["Census Year"] = df["Census Year"].str.replace(r'*', '', regex=True)
#df["Census Cost"] = df["Census Cost"].str.replace(r'$', '', regex=True)
#df["Average Cost Per Person"] = df["Average Cost Per Person"].str.replace(r'$', '', regex=True).str.replace(r'\n', '', regex=True).str.replace(r'cents', '', regex=True)

In [18]:
#Removing multiple commas from the column

lst = []
for row in df['Total Population']:
  lst.append(re.sub(",","",row))
df['Total Population'] = lst

In [19]:
#Removing multiple commas from the column

lst1 = []
for row in df['Census Cost']:
  lst1.append(re.sub(",","",row))
df['Census Cost'] = lst1
#df["Census Cost"] = df["Census Cost"].str.replace(r'Billion', '', regex=True).astype('float')

# removing "Billion" and changing data type
df["Census Cost"] = df["Census Cost"].apply(lambda x:x.replace(r'Billion', '')).astype('float')

In [20]:
#converting Billion to value
df["Census Cost"][-2:] = df["Census Cost"][-2:]*1000000000

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### data to make the year, population, cost, cost per person numerical type

In [21]:
# Changing datatype for columns

df[['Census Year',	'Total Population']] = df[['Census Year',	'Total Population']].astype('int')
#df['Average Cost Per Person'] = df['Average Cost Per Person'].astype('float')

In [22]:
df

    Census Year  Total Population   Census Cost  Average Cost Per Person
0          1790           3929214  4.437700e+04                   0.0113
1          1800           5308483  6.610900e+04                   0.0124
2          1810           7239881  1.784450e+05                   0.0246
3          1820           9633822  2.085260e+05                   0.0216
4          1830          12866020  3.785450e+05                   0.0294
5          1840          17069458  8.333710e+05                   0.0488
6          1850          23191876  1.423351e+06                   0.0614
7          1860          31443321  1.969377e+06                   0.0626
8          1870          38558371  3.421198e+06                   0.0887
9          1880          50155783  5.790678e+06                   0.1154
10         1890          62979766  1.154713e+07                   0.1833
11         1900          76303387  1.185400e+07                   0.1554
12         1910          91972266  1.596800e+07                   0.1707
13         1920         105710620  2.511700e+07                   0.2376
14         1930         122775046  4.015600e+07                   0.3271
15         1940         131669275  6.752700e+07                   0.5129
16         1950         151325798  9.146200e+07                   0.6044
17         1960         179323175  1.279340e+08                   0.7134
18         1970         203302031  2.476530e+08                   1.2200
19         1980         226542199  1.078488e+09                   4.7600
20         1990         248718301  2.492830e+09                  10.0200
21         2000         281421906  4.500000e+09                  15.9900
22         2010         308745538  1.300000e+10                  42.1100

### Numerical type columns

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     int64
 1   Total Population         23 non-null     int64
 2   Census Cost              23 non-null     float64
 3   Average Cost Per Person  23 non-null     float64
dtypes: float64(2), int64(2)
memory usage: 864.0 bytes

## Find out the summary statistics of the numerical columns - use describe() function

In [24]:
df.describe()

       Census Year  Total Population   Census Cost  Average Cost Per Person
count      23.0000      2.300000e+01  2.300000e+01                23.000000
mean     1900.0000      1.039211e+08  9.445587e+08                 3.368739
std        67.8233      9.622629e+07  2.830037e+09                 9.278241
min      1790.0000      3.929214e+06  4.437700e+04                 0.011300
25%      1845.0000      2.013067e+07  1.128361e+06                 0.055100
50%      1900.0000      7.630339e+07  1.185400e+07                 0.170700
75%      1955.0000      1.653245e+08  1.096980e+08                 0.658900
max      2010.0000      3.087455e+08  1.300000e+10                42.110000

## Use Plotly to plot the average cost per person over time.

In [25]:
# Plotly bar chart in ascending order
fig = px.bar(
    df, 
    x = "Census Year",
    y = "Average Cost Per Person", 
    title = "Cost per person over time", 
    color = "Census Year",
    template="plotly_dark"
)
fig.update_layout(showlegend=True)

fig.show()

## Use Plotly to plot the scatter plot of Total Population vs Total Cost.

In [26]:
# Scatter plotly chart
fig = px.scatter(
    df, 
    x= "Total Population",
    y = "Census Cost", 
    title = "Population Vs Cost", 
    color="Total Population",
    template = 'plotly_dark'
)
fig.update_layout(showlegend=True)
fig.show()